<button (click)="trocarComponente('exemplo01')">Exemplos de Formulários</button>
<button (click)="trocarComponente('exemplo02')">Exemplos de Diretivas</button>
<br>

<button (click)="trocarComponente('exercicio01')">Exercicio 1</button>
<button (click)="trocarComponente('exercicio02')">Exercicio 2</button>
<button (click)="trocarComponente('exercicio03')">Exercicio 3</button>

<app-formulario *ngIf="componenteAtual == 'exemplo01'"></app-formulario>
<app-diretiva *ngIf="componenteAtual == 'exemplo02'"></app-diretiva>
<app-binding2-vias *ngIf="componenteAtual == 'exercicio01'"></app-binding2-vias>
<app-ex02 *ngIf="componenteAtual == 'exercicio02'"></app-ex02>
<app-ex03 *ngIf="componenteAtual == 'exercicio03'"></app-ex03>

